
@{
    ViewBag.Title = "LandmarkView";
}
<h2>@ViewBag.Found.SiteName</h2>

@*<img src="@ViewBag.Found.Image" />*@

<p>@ViewBag.Found.Description</p>
<p>@ViewBag.Found.Address</p>
<p>@ViewBag.Found.Rating</p>


