
@{
    ViewBag.Title = "ListReviews";
}

<h2>ListReviews</h2>

<table class="table">
    @foreach (var c in ViewBag.Review)
    {
        <tr>
            <td>@c.ReviewNumber</td>
            <td>@c.SiteName</td>
            <td>@c.Review1</td>
            <td>@c.Recommended</td>
            <td>@c.Rating</td>
        </tr>
    }
</table>
<a href="/Home/ShowUserReviews">Your Reviews</a>
<a href="/Home/ListOfLandMarks">LandMarks</a>

<style>
    body {
        background-image: url(http://res.cloudinary.com/dvhowme2s/image/upload/v1529949631/det.18.ss_.MDCVB_2015_141.jpg);
    }
</style>